.user-container {
  width: 70%;
}

.user-container:nth-of-type(odd) {
  background-color: whitesmoke;
}

.user-container:nth-of-type(even) {
  background-color: #fff;
}

.parent {
  display: flex;
}

.child {
  flex: 1;
  padding: 5px;
}
